body {
	background-image: url(https://www.pausecafein.fr/images/cafein/2015/03/nouvelle-zelande/Nouvelle-Zelande1.png);
	background-repeat: no-repeat;
	background-position:top;
	background-size: 100%;
}
.logo{
	vertical-align: top;
	width: 30px;
}
.formulaire {
	margin-top: 3%;
	margin-left: 10%;
	padding:20px; 
	font-family: 'Bree Serif', serif;
	background-color: white; 
	width: 30%;
	border-radius: 1%;
	padding-left: 30px;
	margin-bottom: -12%;
}
h1{
	font-style: bold;
	color: #404040;
}
.categorie{
	font-size: 100%;
	color: #404040;
}
.text {
	font-size: 17px;
	color: #404040
}
.Barre{
	width: 160px;
	margin-bottom: 10px;
}
.Barre1{
	width: 160px;
	margin-bottom: 10px;
}
.Barre2{
	width: 170px;
	padding-right: 44%;
}
.rechercher{
	background-color: #ff1a75;
	width: 370px;
	height: 50px;
    align-content: center;
    color: white;
    border:none;
    border-radius: 10px;
}
.avis1{
	align-content: left;
}
.avistotal{
	padding-top: 25%;
}
.titre{
	font-family: 'Bree Serif', serif;
	font-size: 30px;
	color: #404040
}
.chambre{
	width: 50%;
}
.etoiles{
	width: 20%;
}
.avis{
}
.etoile{
}
.Dame{	
}
